body {
    font-family: "Indie Flower";

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    width: 500px;
    height: 400px;
    margin-bottom: 5%;
}

.cadre {}

h1 {
    color: black;
    top: 10%;

    font-size: 4.8em;
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
    font-size: 3em;
}

h3 {
    text-decoration: underline;
    font-size: 3.2em;
    color: black;
}

p {
    font-size: 1.7em;
    font-weight: bolder;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-image: url("https://ak0.picdn.net/shutterstock/videos/9565310/thumb/1.jpg"),
        url("file:///home/stark/Documents/projets/restau/NY.html");
    background-repeat: no-repeat;
    background-position: left;

}

h1 {
    margin: 0 auto;
}

p {
    margin: 0 auto;
}

.finish {
    background-image: url("https://ak3.picdn.net/shutterstock/videos/9565343/thumb/9.jpg"),
        url("file:///home/stark/Documents/projets/restau/NY.html");
    background-repeat: no-repeat;
    background-position: right;
}

.separator {

    overflow: visible;
    padding: 22px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;


}


.separator:after {

    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

@font-face {
    font-family: "Indie Flower";
    src: "font/raleway.ttf"
}